/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*variables css*/
:root {
	--header-height: 3rem;
	--font-semi: 600;
}

/*colors*/
:root {
	--first-color: #3830fa;
	--second-color: #22232e;
	--white-dm: #fff;
	--background-color: #fff;
	--gray-dm: rgba(0, 0, 0, 0.15);
	--darkblue-dm: rgba(0, 0, 0, 0.15);
	--nav-background-color: #22232e;
	--nav-color: #ccc;
}

/*fonts n typography*/
:root {
	--body-font: 'Poppins', sans-serif;
	--big-font-size: 2rem;
	--h2-font-size: 1.25rem;
	--normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px) {
	:root {
		--big-font-size: 3.5rem;
		--h2-font-size: 2rem;
		--normal-font-size: 1rem;
	}
}

/*margin*/
:root {
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
}

/*z index*/
:root {
	--z-back: -10;
	--z-normal: 1;
	--z-tooltip: 10;
	--z-fixed: 100;
}

/*base*/
*,
::before,
::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	margin: var(--header-height) 0 0 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--second-color);
	background-color: var(--background-color);
}
h1,
h2,
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}

.section-title {
	position: relative;
	font-size: var(--h2-font-size);
	color: var(--first-color);
	margin-top: var(--mb-2);
	margin-bottom: var(--mb-4);
	text-align: center;
}
.section-title::after {
	position: absolute;
	content: '';
	width: 64px;
	height: 0.18rem;
	left: 0;
	right: 0;
	margin: auto;
	top: 2rem;
	background-color: var(--first-color);
}
.section {
	padding-top: 3rem;
	padding-bottom: 2rem;
}

/*layout*/
.bd-grid {
	max-width: 1024px;
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 2rem;
	width: calc(100% - 2rem);
	margin-left: var(--mb-2);
	margin-right: var(--mb-2);
}
.l-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
	background-color: var(--white-dm);
	box-shadow: 0 1px 4px var(--gray-dm);
}

/*switch*/
.lbl {
	display: inline-block;
	width: 35px;
	height: 20px;
	background: var(--second-color);
	border-radius: 100px;
	cursor: pointer;
	position: relative;
	transition: 0.2s;
	margin-right: 8px;
}
.lbl::after {
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	background: var(--white-dm);
	border-radius: 100px;
	position: absolute;
	top: 3px;
	left: 3px;
	transition: 0.2s;
}

#switch:checked + label::after {
	left: 18px;
}
#switch:checked + .lbl {
	background: var(--first-color);
}
#switch {
	display: none;
}

/*nav*/
.nav,
.switch__menu {
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
	.nav__menu {
		position: fixed;
		top: var(--header-height);
		right: -100%;
		width: 80%;
		height: 100%;
		padding: 2rem;
		background-color: var(--nav-background-color);
		transition: 0.5s;
	}
}
.nav__item {
	margin-bottom: var(--mb-4);
}
.nav__link {
	position: relative;
	color: var(--nav-color);
}
.nav__link:hover {
	position: relative;
}
.nav__link:hover::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 0.18rem;
	left: 0;
	top: 2rem;
	background-color: var(--first-color);
}
.nav__logo {
	color: var(--second-color);
}
.nav__toggle {
	color: var(--second-color);
	font-size: 1.5rem;
	cursor: pointer;
}

/*active menu*/
.active::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 0.18rem;
	left: 0;
	top: 2rem;
	background-color: var(--first-color);
}

/*show menu*/
.show {
	right: 0;
}

/*home*/
.home {
	height: calc(100vh - 3rem);
	row-gap: 1rem;
}
.home__data {
	align-self: center;
}
h1.home__title {
	line-height: 1.45;
}
.home__title {
	font-size: var(--big-font-size);
	margin-bottom: var(--mb-5);
}
.home__title-color {
	color: var(--first-color);
}
.home__social {
	display: flex;
	flex-direction: column;
}
.home__social-icon {
	width: max-content;
	margin-bottom: var(--mb-2);
	font-size: 1.5rem;
	color: var(--second-color);
}
.home__social-icon:hover {
	color: var(--first-color);
}
.home__img {
	position: absolute;
	right: 8px;
	bottom: 0;
	width: 240px;
}

/*buttons*/
.button {
	display: inline-block;
	background-color: var(--first-color);
	color: var(--white-dm);
	padding: 0.75rem 2.5rem;
	font-weight: var(--font-semi);
	border-radius: 0.5rem;
}
.button:hover {
	box-shadow: 0 10px 36px var(--darkblue-dm);
}

/*about*/
.about__container {
	row-gap: 2rem;
	text-align: center;
}
.about__subtitle {
	margin-bottom: var(--mb-2);
}
.about__img {
	justify-self: center;
}
.about__img img {
	width: 200px;
	border-radius: 0.5rem;
}

/*skills*/
.skills__container {
	row-gap: 2rem;
	text-align: center;
}
.skills__subtitle {
	margin-bottom: var(--mb-2);
}
.skills__text {
	margin-bottom: var(--mb-4);
}
.skills__data {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	font-weight: var(--font-semi);
	padding: 0.5rem 1rem;
	margin-bottom: var(--mb-4);
	border-radius: 0.5rem;
	box-shadow: 0 4px 25px var(--darkblue-dm);
}
.skills__icon {
	font-size: 2rem;
	margin-right: var(--mb-2);
	color: var(--first-color);
}
.skills__names {
	display: flex;
	align-items: center;
}
.skills__bar {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: var(--first-color);
	height: 0.25rem;
	border-radius: 0.5rem;
	z-index: var(--z-back);
}
.skills__html {
	width: 95%;
}
.skills__css {
	width: 85%;
}
.skills__js {
	width: 65%;
}
.skills__ux {
	width: 85%;
}
.skills__img {
	border-radius: 0.5rem;
}

/*work*/
.work {
	text-align: center;
}
.work__container {
	row-gap: 2rem;
}
.work__img {
	box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
	border-radius: 0.5rem;
	overflow: hidden;
	height: 30vh;
}
.work__img img {
	transition: 1s;
	cursor: pointer;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.work__img img:hover {
	transform: scale(1.1);
}

/*contact*/
.contact__input {
	width: 100%;
	font-size: var(--normal-font-size);
	font-weight: var(--font-semi);
	padding: 1rem;
	border-radius: 0.5rem;
	border: 1.5px solid var(--second-color);
	outline: none;
	margin-bottom: var(--mb-4);
}
.contact__button {
	display: block;
	border: none;
	outline: none;
	font-size: var(--normal-font-size);
	cursor: pointer;
	margin-left: auto;
}

/*footer*/
.footer {
	background-color: var(--nav-background-color);
	color: var(--nav-color);
	text-align: center;
	font-weight: var(--font-semi);
	padding: 2rem 0;
}
.footer__title {
	font-size: 2rem;
	margin-bottom: var(--mb-4);
}
.footer__social {
	margin-bottom: var(--mb-4);
}
.footer__icon {
	font-size: 1.5rem;
	color: var(--first-color);
	margin: 0 var(--mb-2);
}

/*media queries*/
@media screen and (min-width: 768px) {
	body {
		margin: 0;
	}
	.section {
		padding-top: 4rem;
		padding-bottom: 3rem;
	}
	.section-title {
		margin-bottom: var(--mb-6);
	}
	.section-title::after {
		width: 80px;
		top: 3rem;
	}

	.nav {
		height: calc(var(--header-height) + 1rem);
	}
	.nav__list {
		display: flex;
		padding-top: 0;
	}
	.nav__item {
		margin-left: var(--mb-6);
		margin-bottom: 0;
	}
	.nav__toggle {
		display: none;
	}
	.nav__link {
		color: var(--second-color);
	}

	.home {
		height: 100vh;
	}
	.home__data {
		align-self: flex-end;
	}
	.home__social {
		padding-top: 0;
		padding-bottom: 2.5rem;
		flex-direction: row;
		align-self: flex-end;
	}
	.home__social-icon {
		margin-bottom: 0;
		margin-right: var(--mb-4);
	}
	.home__img {
		width: 475px;
		bottom: 15%;
	}

	.about__container,
	.skills__container {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		text-align: initial;
	}
	.about__img img {
		width: 300px;
	}

	.work__container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		column-gap: 2rem;
	}

	.contact__form {
		width: 360px;
	}
	.contact__container {
		justify-items: center;
	}
}

@media screen and (min-width: 1024px) {
	.bd-grid {
		margin-left: auto;
		margin-right: auto;
	}
	.home__img {
		right: 10%;
	}
}
